@media (min-width: 428px) {
  .menu-toggle {
    display: none;
  }
}
@media (max-width: 427px){
  .menu-toggle {
    display: none;
  }
  .menu__list,
  .contact {
    display: none;
  }


  .hero-image {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/mobile-bg.jpg);
  }
  @media (min-resolution: 192dpi) {
    .hero-image {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)), url('../images/retina_2x/mobile-bg2x.jpg');
      color: var(--white-background);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }


  .header__top {
    display: flex;
    justify-content: space-between;
  }
  .container {
    max-width: 428px;
  }
  .hero-image__title {
    color: var(--white, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    max-width: 320px;
  }

  .feature,
  .galary,
  .preview,
  .customers,
  .footer {
    padding: 96px 0;
  }

  .container {
    padding: 0 16px;
  }

  .feature-list {
    gap: 72px;
    align-items: center;
    flex-direction: column;
  }
  .feature-list__item {
    max-width: 396px;
  }

  .preview__list {
    flex-basis: 396px;
  }

  .feature__tumb,
  .galary {
    display: none;
  }

  .subtitle {
    color: var(--navyblue, #2e2f42);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }

  .text {
    color: var(--slate, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
  }

  .preview__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
  }

  .preview__item {
    max-width: 264px;
  }

  .customers__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    row-gap: 72px;
  }

  .customers__item {
    min-width: calc((100% - 16px) / 2);
  }

  .preview__subtitle {
    color: var(--navyblue, #2e2f42);
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
  }

  /* footer */
  .footer__iner {
    flex-direction: column;
    gap: 72px;
    align-items: center;

  }

  footer .logo {
    margin-right: 0;
  }

  .footer__form {
    flex-direction: column;
  }

  .footer__text-col {
    margin-right: 0;
  }

  .footer__logo {
    text-align: center;
  }

  .footer__social-col {
    text-align: center;
  }

  .footer__form-col {
    margin-left: 0;
    text-align: center;
    width: 100%;
  }

  .footer__text {
    color: var(--cloud, #F4F4FD);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
  }

  .footer__form-label {
    width: 100%;
  }

  .footer__form-input {
    width: inherit;
  }
  /* portfolio */

  .filter__list {
    justify-content: start;
    row-gap: 16px;
    padding-right: 116px;
    margin: 0 0 42px 0;
    min-width: calc(100% - 32px);
  }

  .main__batton {
    padding: 8px 16px;
  }

  .main {
    padding: 48px 0;
  }

  .promo__list {
    min-width: calc(100% - 32px);
  }

  .promo__item {
    min-width: 100%;
  }

  .promo__subtitle {
    color: var(--navyblue, #2E2F42);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
  }

}

@media (min-width: 428px) and (max-width: 767px){

  .menu__list,
  .contact {
    display: none;
  }

    .header__top {
    display: flex;
    justify-content: space-between;
  }
  .container {
    max-width: 428px;
  }
  .open-menu-btn__svg {
    
  }

  .hero-image__title {
    color: var(--white, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    max-width: 320px;
  }
  .hero-image {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/mobile-bg.jpg);
  }
  @media (min-resolution: 192dpi) {
    .hero-image {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)), url('../images/retina_2x/mobile-bg2x.jpg');
      color: var(--white-background);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .feature,
  .galary,
  .preview,
  .customers,
  .footer {
    padding: 96px 0;
  }

  .container {
    padding: 0 16px;
  }

  .feature-list {
    gap: 72px;
    align-items: center;
    flex-direction: column;
  }
  .feature-list__item {
    max-width: 396px;
  }

  .preview__list {
    flex-basis: 396px;
  }

  .feature__tumb,
  .galary {
    display: none;
  }

  .subtitle {
    color: var(--navyblue, #2e2f42);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }

  .text {
    color: var(--slate, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
  }

  .preview__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
  }

  .preview__item {
    max-width: 264px;
  }

  .customers__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    row-gap: 72px;
  }

  .customers__item {
    min-width: calc((100% - 16px) / 2);
  }

  .preview__subtitle {
    color: var(--navyblue, #2e2f42);
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
  }

  /* footer */
  .footer__iner {
    flex-direction: column;
    gap: 72px;
    align-items: center;

  }

  footer .logo {
    margin-right: 0;
  }

  .footer__form {
    flex-direction: column;
  }

  .footer__text-col {
    margin-right: 0;
  }

  .footer__logo {
    text-align: center;
  }

  .footer__social-col {
    text-align: center;
  }

  .footer__form-col {
    margin-left: 0;
    text-align: center;
    width: 100%;
  }

  .footer__text {
    color: var(--cloud, #F4F4FD);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
  }

  .footer__form-label {
    width: 100%;
  }

  .footer__form-input {
    width: inherit;
  }


  /* p o r t  f o l i o 428 px */

  .filter__list {
    justify-content: start;
    row-gap: 16px;
    padding-right: 116px;
    margin: 0 0 42px 0;
    min-width: calc(100% - 32px);
  }

  .main__batton {
    padding: 8px 16px;
  }

  .main {
    padding: 48px 0;
  }

  .promo__list {
    min-width: calc(100% - 32px);
  }

  .promo__item {
    min-width: 100%;
  }

  .promo__subtitle {
    color: var(--navyblue, #2E2F42);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
  }
}

@media (min-width: 768px) and  (max-width: 1158px) {
  
  .feature__tumb,
  .galary {
    display: none;
  }

  .feature,
  .galary,
  .preview,
  .customers,
  .footer {
    padding: 96px 0;
  }

  .header__top {
    display: flex;
    justify-content: space-between;
  }
  .contact__list{
    margin-left: 40px;
  }

  .subtitle {
    color: var(--navyblue, #2e2f42);
    text-align: center;
    font-family: Roboto;
    /* font-size: 36px; */
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    font-size: calc(28px + (52 - 28) * (100vw - 428px) / (1440 - 428));
  }

  .preview__subtitle {
    color: var(--navyblue, #2e2f42);
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
  }
  .container {

    max-width: 768px;

  }
  .feature-list {
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    gap: 72px 24px;
  }

  .feature-list__item {
    flex-basis: calc((100% - 24px) / 2);
    
  }

  .customers__list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
    justify-content: center;
  }

  .customers__item {
    max-width: calc((100% - 48px) / 3);

  }

  .preview__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
    row-gap: 72px;
    justify-content: center;
  }

  .preview__item {
    max-width: calc((100% - 24px) /2);
  }

  .social__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0;
    margin-top: 8px;
  }

  .social__item {
    max-width: calc((100% - 24px) / 4);
  }

  .footer__iner {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: start;
    padding-left: 108px;
  }

  .footer__text-col {
    margin: 0 24px 72px 0;

  }

  .footer__form-col {
    margin-left: 0;
  }

  .footer__form {
    flex-wrap: wrap;
  }

  .footer__social-col {
    margin-bottom: 72px;
  }



  /* p o r t  f o l i o 796 PX */

  .contact__list {
    flex-direction: column;
    padding: 16px 0;
    display: flex;
    gap: 12px;
  }

  .contact__link {
    padding: 0;
    color: var(--slate, #434455);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.48px;
  }

  .promo__item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

  @media (min-width: 768px) {
    .open-menu-btn {
      display: none;
    }
    }
  @media  (min-width: 428px){
    .menu-container{
      display: none;
    }
  }
  